---
// import SocialIcons from './SocialIcons.astro';
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} tbone.dev. Thoughtfully built by tbone.
	{/* <div class="footer-social">
		<SocialIcons size={32} />
	</div> */}
</footer>
<style>
	footer {
		padding: 2em 1em 3em 1em;
		margin-top: auto;
		background: var(--bg-color);
		border-top: 1px solid rgb(var(--gray-light));
		color: rgb(var(--gray));
		text-align: center;
	}
	.footer-social {
		margin-top: 1em;
	}
</style>
